.stepper {
  height: 100vh;
  font-size: 14px;
  flex: 0 1 260px;
  border-right: 1px solid rgba(#fff, 0.2);
}

.steps {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  margin-left: 26px;
}

.step {
  opacity: 0.2;

  display: flex;
  flex-direction: column;

  &:last-child .stepLine {
    display: none;
  }

  .stepContent {
    display: flex;
    align-items: center;
  }

  .stepCircle {
    background-color: var(--color-font-primary);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .stepLine {
    background-color: var(--color-font-primary);
    width: 1px;
    height: 25px;
    align-self: start;
    transform: translateX(3px);
  }
}

.visited {
  opacity: 1;
  color: var(--color-font-secondary);

  & .stepCircle,
  & .stepLine {
    background-color: var(--color-font-secondary);
  }
}

.selected {
  opacity: 1;
  color: var(--color-font-primary);

  & .stepCircle {
    background-color: var(--color-font-primary);
  }

  & .stepLine {
    opacity: 0.2;
  }
}

@media (max-width: 600px) {
  .stepper {
    flex: 0 0 100px;
    border: 0;
  }

  .steps {
    margin-top: 72px;
    margin-left: 0;
    flex-direction: row;
  }

  .step {
    flex-direction: row;
    justify-content: center;

    .stepCircle {
      margin-right: 0;
    }

    .stepLine {
      width: 40px;
      height: 1px;
      transform: translateX(0) translateY(3px);
      margin: 0 4px;
    }

    .stepName {
      display: none;
    }
  }
}
